<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pavelclaudiustefan.shadowapps.showstracker">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_sloth"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_sloth_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/AppTheme.AuthTheme" />

        <activity
            android:name=".ui.SignupActivity"
            android:theme="@style/AppTheme.AuthTheme" />

        <activity
            android:name=".ui.movies.MoviesActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.tvshows.TvShowsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.movies.MovieActivityDb"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.movies.MovieActivityHTTP"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.tvshows.TvShowActivityHTTP"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.search.MovieSearchActivity"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".ui.search.TvShowSearchActivity"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".ui.groups.GroupsActivity"
            android:label="@string/title_group_list"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.groups.GroupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pavelclaudiustefan.shadowapps.showstracker.ui.groups.GroupsActivity" />
        </activity>

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <activity android:name=".ui.about.AboutActivity" />

        <activity android:name=".ui.about.LicensesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pavelclaudiustefan.shadowapps.showstracker.ui.about.AboutActivity" />
        </activity>

        <activity
            android:name=".ui.tvshows.TvShowActivityDb"
            android:label="@string/title_activity_tv_show_db"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>