<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pavelclaudiustefan.shadowapps.showstracker">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_sloth"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_sloth_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/AppTheme.AuthTheme" />

        <activity
            android:name=".ui.SignupActivity"
            android:theme="@style/AppTheme.AuthTheme" />

        <activity
            android:name=".ui.movies.MoviesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.tvshows.TvShowsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.movies.MovieActivityDb" />

        <activity android:name=".ui.movies.MovieActivityHTTP" />

        <activity android:name=".ui.tvshows.TvShowActivityHTTP" />

        <activity
            android:name=".ui.search.MovieSearchActivity"/>

        <activity android:name=".ui.search.TvShowSearchActivity" />

        <provider
            android:name=".data.VideoItemProvider"
            android:authorities="com.pavelclaudiustefan.shadowapps.showstracker"
            android:exported="false" />

    </application>

</manifest>