<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pavelclaudiustefan.shadowapps.showstracker">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".ui.tvshows.SeasonActivity"></activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- TODO - Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.AuthActivity"
            android:label="@string/title_activity_auth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.movies.MoviesActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.tvshows.TvShowsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.movies.MovieActivityDb"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.movies.MovieActivityHTTP"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.tvshows.TvShowActivityHTTP"
            android:label="@string/title_activity_tv_show"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.tvshows.TvShowActivityDb"
            android:label="@string/title_activity_tv_show"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.search.MovieSearchActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".ui.search.TvShowSearchActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.groups.GroupsActivity"
            android:label="@string/title_group_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.groups.GroupActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pavelclaudiustefan.shadowapps.showstracker.ui.groups.GroupsActivity" />
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".ui.about.AboutActivity" />
        <activity android:name=".ui.about.LibrariesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pavelclaudiustefan.shadowapps.showstracker.ui.about.AboutActivity" />
        </activity>
        <activity
            android:name=".ui.groups.GroupInfoActivity"
            android:label="@string/title_activity_group_info"
            android:parentActivityName=".ui.groups.GroupActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pavelclaudiustefan.shadowapps.showstracker.ui.groups.GroupActivity" />
        </activity>

        <service
            android:name=".data.LocalDataSyncService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>